.page-protected{display: block;overflow: hidden;margin: 100px auto;max-width: 600px;}
.page-protected header{display: block !important;width: 100% !important;float: none !important;/* text-align: center; */}
.page-protected .entry-content{  width: 100% !important;  }

.insert-password-form{line-height: 27px;max-width: 520px;/* margin: 40px auto; */}
.insert-password-form form{}
.insert-password-form  label{  float: left;  width: 100%;  max-width: 130px;  }
.insert-password-form .input-wrapper{  overflow: hidden;  margin: 15px 0;  }
.insert-password-form .input-wrapper input{width: 100%;margin: 0;padding: 0;border: 1px solid #ccc;line-height: 40px;text-indent: 15px;outline: none;height: 40px;font-size: 16px;}
.insert-password-form .input-wrapper input:focus{  border-color: #000000;  }
.insert-password-form input[type=submit]{  background-color: #000000;  border: 1px solid transparent;  color: white;  line-height: 44px;  font-size: 20px;  padding: 0 22px;  }
.insert-password-form input[type=submit]:hover{color:black;background: white; border-color: #0F0F0F}

